
.card p {
  display: inline-block;
  border: 2px red inset;
  height: 125 px;
  width: 200px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
}

.card p.back {
  border-color: blue;
}
